@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Web App Escalas</MudText>


<br />
<MudText Typo="Typo.h5" GutterBottom="true">
    Descrição Geral do Projeto
</MudText>
<br />
<MudText Typo="Typo.body2">
    O projeto é um Web App criado para facilitar a organização e o gerenciamento de escalas de atividades em igrejas.
    <br />
    <br />
    Com foco em atender necessidades específicas de ministérios como o Ministério do Louvor,
    <br />
    o sistema permitirá que igrejas cadastrem seus eventos, ministérios e membros de forma simples e intuitiva.
    <br />
    <br />
    Por exemplo, em uma igreja, o coordenador do Ministério do Louvor poderá criar um evento como "Celebração Domingo Manhã".
    <br />
    <br />
    Os membros desse ministério, previamente cadastrados, terão a possibilidade de informar sua disponibilidade semanal,
    <br />
    permitindo que o coordenador organize a escala de forma eficiente.
    <br />
    <br />
    O objetivo principal é eliminar a complexidade de gerenciar escalas manualmente,
    <br />
    fornecendo uma plataforma centralizada que otimiza a comunicação, economiza tempo e reduz conflitos de agenda,
    <br />
    promovendo maior organização dentro das atividades da igreja.
</MudText>

<br />
<MudText Typo="Typo.h5" GutterBottom="true">Tecnologias Utilizadas</MudText>
<br />
<MudText Typo="Typo.body2" GutterBottom="true">
    O projeto utiliza tecnologias modernas e robustas para garantir uma experiência de usuário eficiente e um desenvolvimento ágil:
    <br />
    <br />

    1. <a style="text-decoration: underline;" href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor</a>: Framework para criação de aplicações web interativas usando C#.
    <br />
        <br />
     2. <a style="text-decoration: underline;" href="https://mudblazor.com/">MudBlazor</a>: Biblioteca de componentes UI que oferece um design limpo e responsivo, permitindo a criação de interfaces elegantes e funcionais.
    <br />
        <br />
     3. <a style="text-decoration: underline;" href="https://learn.microsoft.com/en-us/dotnet/csharp/">C#</a>: Linguagem principal para implementação de toda a lógica de negócio e backend.
    <br />
        <br />
     4. <a style="text-decoration: underline;" href="https://sqlite.org/">SQLite</a>: Banco de dados inicial, leve e ideal para o desenvolvimento e testes. Futuramente, será avaliada a migração para o SQL Server, para atender demandas de maior escala.
    <br />
        <br />
     5. <a style="text-decoration: underline;" href="https://visualstudio.microsoft.com/pt-br/">Visual Studio</a>: IDE poderosa e completa utilizada para o desenvolvimento do projeto, com suporte nativo para C#, Blazor e integração com bancos de dados.

    <br />
    <br />
    6. <a style="text-decoration: underline;" href="https://git-scm.com/">Git</a>: Sistema de controle de versão utilizado para o gerenciamento do código fonte, garantindo a colaboração eficiente entre os desenvolvedores e o rastreamento de alterações ao longo do desenvolvimento.
</MudText>

<MudText Typo="Typo.h5" GutterBottom="true">Etapas do Projeto</MudText>
<br />
<MudText Typo="Typo.body2" GutterBottom="true">
    <h2>Etapas do Projeto</h2>
    <br />
    <h3>1. Reuniões com Igrejas para Levantamento de Demanda</h3>
    <br />
    <p>
        A primeira etapa consiste em realizar reuniões com igrejas para entender se há uma demanda real para a solução e, em caso afirmativo,<br />
        como elas visualizam a aplicação no seu cotidiano. Será importante obter feedback sobre as necessidades específicas de escalas e <br />
        a gestão de ministérios para garantir que o sistema atenda às requisitos de usuários reais.
    </p>
    <br />

    <h3>2. Validação do Protótipo</h3>
    <br />
    <p>
        Após o levantamento de requisitos, a próxima etapa é a criação de um protótipo inicial da aplicação.<br />
        Esse protótipo será apresentado às igrejas participantes para validação. O objetivo aqui é testar a interface e as funcionalidades,<br />
        ajustando conforme o feedback recebido para garantir que o projeto atenda às expectativas do público-alvo.
    </p><br />

    <h3>3. Início do Desenvolvimento</h3>
    <br />
    <p>
        Com o protótipo validado, o desenvolvimento efetivo do projeto será iniciado.<br />
        A primeira fase do desenvolvimento incluirá a criação da estrutura do projeto,<br />
        configuração de banco de dados e implementação da base funcional da aplicação,<br />
        Isso estabelecerá a base para o desenvolvimento de outras funcionalidades mais avançadas no futuro.
    </p>
    <br />
    <h3>4. Previsão de Início do Desenvolvimento - Janeiro de 2025</h3>
    <br />
    <p>A previsão para o início oficial do desenvolvimento é janeiro de 2025. Nesta etapa, o foco será na construção das funcionalidades principais, como a gestão de escalas, agendamento de eventos e cadastro de membros, além da implementação de uma interface intuitiva e interativa.</p>

</MudText>

<br />
